<div class="navbar-lewagon">
  <h1>Forum Cocktail</h1>
  <%= link_to "Add", new_cocktail_path, class: "btn btn-primary" %>
</div>

<div class="container-bg">
    <div class="container">
      <div class="row">
    <% @cocktails.each do |cocktail| %>
        <div class="card col-lg-3 col-sm-12" style="width: 18rem;">
            <%= cl_image_tag cocktail.photo.key, height: 120, width:380, crop: :fill, class: "card-img-top"  %>
          <div class="card-body card-each">
            <h5 class="card-title"><%= cocktail.name %></h5>
            <%= link_to "More details", cocktail_path(cocktail), class: "btn btn-primary btn-details" %>
          </div>
        </div>
    <% end %>
      </div>
    </div>

</div>


<!-- <ul>
  <% @cocktails.each do |cocktail| %>
    <li> <%= link_to cocktail.name, cocktail_path(cocktail) %></li>
  <% end %>
</ul>
 -->
