<h1><%= @cocktail.name %></h1>

<%= render "doses/new", cocktail: @cocktail, dose: @dose %>

<ul>
  <% @cocktail.doses.each do |dose|%>
    <li><%= dose.description %> <%= dose.ingredient.name %></li>
    <%= link_to "Delete dose", dose_path(dose), method: :delete %>
    <% end %>
</ul>

<% if @cocktail.photo.attached? %>
  <%= cl_image_tag @cocktail.photo.key, height: 300, width: 400, crop: :fill %>
<% end %>



